.container {
    background-color: rgb(211, 196, 196);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 250px;
}

.title {
    font-family: 'Courier New', Courier, monospace;
}

.botao {
    border-radius: 10px;
    border-style: none;
    width: 80px;
    height: 30px;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}